.bg{
  width: 100%;
  background: url("../image/banner.jpg") no-repeat;
  background-size: contain;
}
nav{
    background: rgba(255,255,255,.2);
    height: 75px;
    line-height: 75px;
}
nav ul li {
  float: left;
}
nav ul li a{
    display: inline-block;
    padding: 0 15px;
    line-height: 17px;
    color: #fff;
    font-size: 18px;
    
}
nav ul li a:hover{
  padding-bottom: 7px;
  border-bottom: 2px solid #fff;
  color: #fff;

}

.login, .rigster{
  display: inline-block;
  line-height: 17px;
  padding: 10px 22px;
  border-radius: 4px;
  border: 1px solid #3675f2;
  color: #fff;
  font-size: 16px;
}
.rigster{margin-left: 25px;}
.login:hover, .rigster:hover,
.login.active, .rigster.active{
  box-shadow: 0 0 20px #3675f2;
  background: #3675f2;
  border: 1px solid #3675f2;
  color: #fff;
}
section{
    padding-top: 200px;
    text-align: center;
}
section .title{
    padding: 10px 14px;
    font-size: 40px;
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-shadow: 0px 8px 15px rgba(255,255,255,0.6);
}
article{
  padding-top: 30px;
  width: 40%;
  margin: 0 auto;
  line-height: 28px;
  text-align:justify;
  font-size: 16px;
  color: #fff;
}